# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/main

test codes/client

src/teste

other people codes/server

other people codes/codigo 1/server

other people codes/codigo 2/client

other people codes/codigo 2/server

other people codes/codigo 3/ftp-master/ftp
